body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #f5f5f5;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

